@tailwind base;

@tailwind components;

@tailwind utilities;

.sub-list {
    display: none;
}

.sub-list.open {
    display: block;
}
li:hover{
    cursor: pointer;
}
.login{
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
.login div{
    width: 50%;
    margin: 2% auto;
}

